{% extends "students/base.html" %}

<!--{% load static from staticfiles %}-->

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}
	 <!-- start mail page content -->
	  <div class="row" id="content-columns">
	   <div class="col-xs-12" id="content column">
	    <div class="alert alert-warning">Изменения отменены</div>
	    <h2>База студентов</h2>
	    <a class="btn btn-primary" href="{% url 'students_add' %}">Добавить студента</a>
	    <!-- table jn students -->
	    <table class="table table-hover table-striped">
		   <thead>
		    <tr>
			  <th>No</th>
			  <th>Фото</th>
			  <th>Прізвище</th>
			  <th>Ім'я</th>
			  <th>No Білету</th>
			  <th>Дії</th>
			</tr>
		   </thead>
		  <tbody>
		  	{% for stud in students %}
				<tr>
					<td>{{ stud.id }}</td>
					<td><img src="{% static stud.image %}" weight="30" height="30" class="img-circle"></td>
					<td><a title="Редактировать" href="{% url 'students_edit' stud.id %}">{{ stud.last_name }}</a></td>
					<td><a title="Редактировать" href="{% url 'students_edit' stud.id %}">{{ stud.first_name }}</a></td>
					<td>{{ stud.ticket }}</td>
					<td>
						<div class="dropdown">
			  	  			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Действие<span class="carret"></span>
			  	  			</button>
							<ul class="dropdown-menu" role="menu">
			  	    			<li role="presentation"><a role="menuitem" tabindex="-1" href="/journal/{{ stud.id }}">Посещение</a></li>
			  	    			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'students_edit' stud.id %}">Редактировать</a></li>
			  	    			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'students_delete' stud.id %}">Удалить</a></li>
			  	  			</ul>
			  			</div>
					</td>
				</tr>
		  	{% endfor %}
		  </tbody>
		</table>
		<nav>
			<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li class="active"><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
			</ul>
		</nav>
	<!-- End Students Listing -->

	   </div>	
	  </div>
	 <!-- end main page content -->
{% endblock content %}